.nav {
  width: 100%;
  border-top: 3px solid #ffffff;
  background: rgba(66, 64, 64, 0.6);
  position: relative;
  z-index: 100;
  .navGoAdmin {
    position: absolute;
    top: -65px;
    right: 6%;
    font-size: 70px;
    line-height: 0;
  }
  .navCont {
    width: 1280px;
    margin: 0 auto;
    .navLeft {
      :global {
        .ant-menu-horizontal {
          border-bottom: 1px solid transparent;
        }
        .ant-menu {
          background-color: unset;
          color: #ffffff;
          a {
            color: #ffffff;
          }
          .ant-menu-item {
            text-align: center;
            font-size: 16px;
            border: none;
            padding-right: 60px;
            padding-left: 0;
          }
          .ant-menu-item:hover {
            border: none;
          }
          .ant-menu-item-selected,
          .ant-menu-item-active {
            color: #e889b7;
            border-bottom: none;
            font-size: 18px;
            font-weight: bold;
            padding-right: 60px;
            padding-left: 0;
            text-align: left;
            a {
              color: #e889b7;
            }
          }
        }
      }
    }
  }
}
