.nav {
  width: 100%;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  background: rgba(225, 225, 225, 0.6);
  position: relative;
  z-index: 100;
  .navGoAdmin {
    position: absolute;
    top: -65px;
    right: 6%;
    font-size: 70px;
    line-height: 0;
  }
  .navCont {
    width: 1280px;
    margin: 0 auto;
    .navLeft {
      :global {
        .ant-menu-horizontal {
          border-bottom: 1px solid transparent;
        }
        .ant-menu {
          background-color: unset;
          .ant-menu-item,
          .ant-menu-item:hover {
            border: none;
            padding: 0;
            width: 160px;
            font-weight: bold;
          }
          .ant-menu-item-selected,
          .ant-menu-item-active {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
