.mark {
  width: 100%;
  .markContent {
    padding: 8px 20px;
    .markContentName {
      font-size: 18px;
      span {
        width: 80px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        font-size: 12px;
        display: inline-block;
        padding: 0 10px;
        background-color: #e889b7;
        color: #fff;
        margin-right: 20px;
        border-radius: 5px;
      }
      b {
        line-height: 30px;
      }
    }
    .markContentAuthor {
      color: #364f6b;
      font-size: 12px;
      padding-left: 100px;
      span {
        margin-right: 10px;
      }
    }
    .markContentCont {
      margin: 0;
      padding-top: 10px;
    }
  }
}
