@font-face {
  font-family: "myFont";
  src: url("./assets/fonts/myFont.ttf");
}
* {
  font-family: "myFont";
  cursor: url("~@assets/images/coco.cur"), auto;
}
body {
  font-family: "myFont";
}

/* 清浮动 */
.clearfix_after {
  zoom: 1;
}

.clearfix_after:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.content {
  width: 1170px;
  margin: 10px auto;
}
.contentRight {
  padding-left: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
