@font-face {
  font-family: "myFont";
  src: url("./assets/fonts/myFont.ttf") format("truetype");
}
* {
  font-family: "myFont";
  cursor: url("~@assets/images/coco.cur"), auto;
}
li {
  list-style: none;
}

/* 清浮动 */
.clearfix_after {
  zoom: 1;
}

.clearfix_after:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

/* content */
body {
  color: #364f6b;
  font-size: 14px;
  background-color: #f5f5f5;
}
.content {
  width: 1280px;
  margin: 10px auto;
}
.contentLeft {
  padding-right: 10px;
}
.contentRight {
  padding-left: 10px;
}

/* 卡片 */
.card {
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}
