// 清浮动
.clearfix_after {
  zoom: 1;
}

.clearfix_after:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
* {
  cursor: url("~@assets/images/coco.cur"), auto;
}
body {
  min-width: 1280px;
  overflow-x: hidden;
  .content {
    width: 1280px;
    margin: 10px auto;
  }
  .contentLeft {
    padding-right: 14px;
  }

  // 卡片
  .card {
    background-color: #ffffff;
    margin-bottom: 14px;
    border-radius: 10px;
    box-shadow: 0 1px 10px -4px rgba(0, 0, 0, 0.4);
  }
}

// 其他——文档内容
.media-wrap.image-wrap {
  // 图片
  overflow: auto;
}
blockquote {
  // 引用
  margin-bottom: 15px;
  margin-left: 1em;
  padding: 3px 0 3px 10px;
  border-left: 6px solid @primary-color;
  background-color: #f6f6f6;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 2.5em;
}
blockquote p {
  margin: 0;
}
