.banner {
  height: 200px;
  position: relative;
  .bannerPosition {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background: rgba(66, 64, 64, 0.2);
  }
  .bannerImg {
    height: 500px;
    background-image: url("~@assets/images/banners.jpeg");
    background-size: cover;
    background-position: center;
  }
  .bannerText {
    width: 1280px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: left;
    color: #ffffff;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      border-radius: 50%;
    }
    b {
      padding-left: 20px;
    }
    span {
      font-size: 14px;
    }
  }
}
